{%extends 'partials/base.html'%}
{%load static%}
{%block title%}Contact-Us{%endblock%}

{%block content%}
<div class="col-xl-10">
    <h4 class="bd-title mt-0"><strong>About Us</strong></h4>
    <div class="px-3 text-center">
        <img class="" width="100" src="{%static 'home_media/DreamAppFavoicon.png'%}" alt="">

        <p class="mt-2  fs-5 bd-lead">
            The Drip Club is a classic Clothing Brand with Cutting-edge vibe of <span
                class="text-dark"><strong>Dressing</strong></span>. Emerge a world where everything is based on your
            Dreams
        </p>
        <p class="mt-1  fs-5 bd-lead">
            We provide, humor and Essense in creating <i><strong>fashion - forward</strong></i> drip pieces.
        </p>

        <div class="text-center mt-2">
            <a href=""
               class="btn btn-lg btn-outline-dark">
                Get in touch
            </a>
        </div>

    </div>


</div>
<hr>
<h4 class="bd-title mb-2"><strong>Our socials</strong></h4>
<div class="d-flex justify-content-between px-3">
    <img width="120" src="{%static 'home_media/QR.png'%}" alt="">
    <div class="d-flex align-items-center gap-3">
        <i class="bi bi-globe fs-4"></i>

        <i class="bi bi-instagram fs-4"></i>
        <i class="bi bi-facebook fs-4"></i>
        <i class="bi bi-instagram fs-4"></i>

    </div>

</div>
<hr>

{%endblock%}