{%extends 'partials/base.html'%}
{%load static%}

{%block title%}Explore{%endblock%}

{%block content%}
<style>
    .product-card {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  .scrollable-item img {
            width: 100%;
            height: 200px; /* Set the height of the image as needed */
            object-fit: cover;
        }

  .product-card img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
                object-fit: cover;

  }

  .product-info {
    padding: 10px;
  }

  .product-info h3 {
    margin-top: 0;
  }

  .product-info p {
    margin-bottom: 0;
  }

  /* Responsive styles */
  @media screen and (min-width: 768px) {
    .product-card {
      width: 24%;
    }
  }

  @media screen and (max-width: 767px) {
    .product-card {
      width: 49%;
    }
  }
</style>
<h4>All products <small><span class="badge custom-bg text-info">{{pro_count}}</span></small></h4>
<div class="container flex-wrap px-2 d-flex justify-content-between">
    {%for pro in products%}
    <div class="product-card">
        <a href="{%url 'shop:detail' pro.id%}" class="text-decoration-none text-dark">

            <div class="product-image" style="object-fit: cover;">
                <img src="{{pro.image.url}}" alt="Product Image">
            </div>
            <div class="d-flex text-center mt-2 flex-column justify-content-between">

                <h6>{{pro.name}}</h6>
                {%if pro.discount%}
                <div class="d-flex mt-2 px-2 flex justify-content-between">
                    <h4><strong>₦ {{pro.price}}</strong></h4>
                    <small><span class="badge bg-dark text-white">{{pro.discount}}% off</span></small>

                </div>
                {%else%}
                <div class="d-flex mt-2 px-2 flex justify-content-center">
                    <h4><strong>₦ {{pro.price}}</strong></h4>

                </div>

                {%endif%}

            </div>
        </a>

    </div>
    {%endfor%}
    <div class="product-card">
        <a href="#" class="text-decoration-none text-dark">

            <div class="product-image">
                <img src="{%static 'home_media/co.jpg'%}" alt="Product Image">
            </div>
            <div class="product-info text-center">
                <!--                <span class="badge custom-bg mb-2 text-success">Category</span>-->
                <h6><em>Advertise here</em></h6>
                <div class="d-flex align-items-center justify-content-center">
<!--                    <h4>₦99.99</h4>-->
                    <a href="#" class="btn btn-outline-dark btn-small rounded-pill">Begin</a>
                    <!--                <a href="#"><i class="bi bi-heart"></i></a>-->

                </div>
            </div>
        </a>

    </div>
    <!--    <div class="product-card">-->
    <!--        <a href="#" class="text-decoration-none text-dark">-->

    <!--            <div class="product-image">-->
    <!--                <img src="https://via.placeholder.com/300x300" alt="Product Image">-->
    <!--            </div>-->
    <!--            <div class="product-info text-center">-->
    <!--                &lt;!&ndash;                <span class="badge custom-bg mb-2 text-success">Category</span>&ndash;&gt;-->
    <!--                <h6>Product Name</h6>-->
    <!--                <div class="d-flex align-items-center justify-content-center">-->
    <!--                    <h4>₦99.99</h4>-->
    <!--                    &lt;!&ndash;                <a href="#"><i class="bi bi-heart"></i></a>&ndash;&gt;-->

    <!--                </div>-->
    <!--            </div>-->
    <!--        </a>-->

    <!--    </div>-->
    <!--    <div class="product-card">-->
    <!--        <a href="#" class="text-decoration-none text-dark">-->

    <!--            <div class="product-image">-->
    <!--                <img src="https://via.placeholder.com/300x300" alt="Product Image">-->
    <!--            </div>-->
    <!--            <div class="product-info text-center">-->
    <!--                <span class="badge custom-bg mb-2 text-success">Category</span>-->
    <!--                <h6>Product Name</h6>-->
    <!--                <div class="d-flex align-items-center justify-content-center">-->
    <!--                    <h4>₦99.99</h4>-->
    <!--                    &lt;!&ndash;                <a href="#"><i class="bi bi-heart"></i></a>&ndash;&gt;-->

    <!--                </div>-->
    <!--            </div>-->
    <!--        </a>-->

    <!--    </div>-->


</div>

<!--<div class="product-card">-->
<!--    <div class="text-center">-->
<!--            <img src="https://via.placeholder.com/300x300" alt="Product Image">-->

<!--    </div>-->
<!--&lt;!&ndash;    <div class="product-info">&ndash;&gt;-->
<!--        <h3>Product Name</h3>-->
<!--        <p>Description of the product goes here. This is a placeholder text.</p>-->
<!--        <p>$99.99</p>-->
<!--        <div class="d-flex">-->
<!--            <a href="#" class="btn btn-outline-dark">Add to cart</a>-->
<!--            <a href="#" class="btn btn-bg-dark"><i class="bi bi-heart"></i></a>-->

<!--        </div>-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--</div>-->

{%endblock%}