{%extends 'partials/base2.html'%}
{%load static%}
{%block title%}Splash{%endblock%}

{%block content%}
<style>
    .navbar-container {
        display: none;
    }
    .bbgg {
        display: none;
    }
    body {
        background: #0A0A0A;
    }
    @media screen and (max-width: 600px) {
            .splash {
                margin-top: 8rem;
            }
        }
</style>

<div class="container splash" style="max-height: 100%;">
    <!--    <h1 class="display-1">Hello</h1>-->
    <div class="text-center mt-2">
        <img width="250" src="{% static 'home_media/DreamAppFavoicon.png' %}" alt="">
    </div>
    <div class="text-center mt-5">
        <a href="{%url 'userauths:login'%}"
           class="btn w-75 btn-lg my-2 shadow-md btn-outline-light rounded-pill">Login</a>
        <a href="{%url 'userauths:register'%}"
           class="btn w-75 btn-lg my-2 shadow-md btn-light rounded-pill">Register</a>
        <a href="{%url 'shop:index'%}"
           class="btn text-decoration-none w-75 btn-lg my-2 shadow-md btn-link text-info">Browse as a guest</a>


    </div>
    <div class="text-center mt-5">
        <h6 class="text-white"><strong>Version 12.0.1</strong></h6>
        <!--        <img width="300" src="{% static 'home_media/Dreamzz.co official Merch logo black.png' %}" alt="">-->
    </div>
</div>

{%endblock%}